%h1= @vision.title
%p= @vision.description
%p
Submitted by
= @vision.user.email

%br/

= link_to "Back", root_path
= link_to "Edit", edit_vision_path
= link_to "Delete", vision_path, method: :delete, data: { confirm: "Are you sure? This action cannot be undone!" }